GRPC_LISTEN=127.0.0.1:6666
HTTP_LISTEN=127.0.0.1:7777
HTTP_FUNC_LISTEN=127.0.0.1:8888
MACHINE_CODE=IAMYM55


# reids for api
REDIS_FOR_API_ADDR=127.0.0.1:6379
REDIS_FOR_API_DB_NO=0
REDIS_FOR_API_MAX_IDLE=50
REDIS_FOR_API_MAX_CONN=500


# redis for ready job
REDIS_FOR_READY_ADDR=127.0.0.1:6379
REDIS_FOR_READY_DB_NO=1
REDIS_FOR_READY_MAX_IDLE=50
REDIS_FOR_READY_MAX_CONN=500


# redis for delay quene
REDIS_FOR_DELAY_QUENE_ADDR=127.0.0.1:6379
REDIS_FOR_DELAY_QUENE_DB_NO=2
REDIS_FOR_DELAY_QUENE_MAX_IDLE=50
REDIS_FOR_DELAY_QUENE_MAX_CONN=500

# redis for group
REDIS_FOR_GROUP_ADDR=127.0.0.1:6379
REDIS_FOR_GROUP_DB_NO=3
REDIS_FOR_GROUP_MAX_IDLE=50
REDIS_FOR_GROUP_MAX_CONN=500



# option
JOB_REPLY_HOOK=""

